a {
	color: black;
	text-decoration: none;
}
body{
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	font-family: 'Ubuntu Mono', sans-serif;
}
#main{
	width: 60%;
	margin: 3em auto;
}
#editor{
	width: 100%;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 1.1em;
	height: 19em;
	margin-bottom: 1em;
	box-sizing: border-box;
}
.btn {
	display: block;
	padding: 0.5em 0.7em;
	background-color: rgba(0,0,0,0.2);
	box-sizing: border-box;
	transition: all 0.05s ease-in-out;
	margin: 0.7em 0 0 0;
}
.btn:hover{
	background-color: rgba(0,0,0,0.5);
}
.btn:active{
	background-color: rgba(0,0,0,0.8);
	color: white;
}
.shbtn{
	display: block;
	padding: 0.5em 0.7em;
	background-color: rgba(0,0,0,0.1);
	box-sizing: border-box;
	transition: all 0.05s ease-in-out;
	margin: 0.7em 0 0 0;
}
.shbtn>input{
	display: inline-block;
	font-size: 1em;
}
.box {
	display: block;
	padding: 0.5em 0.7em;
	background-color: rgba(0,0,0,0.1);
	box-sizing: border-box;
	min-height: 5em;
}
#toast{
	position: fixed;
	bottom: 1em;
	left: 1em;
	color: white;
	padding: 0.7em 1em;
	background-color: rgb(40,40,40);
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5), 0 0 6px rgba(0,0,0,0.2);
	transition: bottom 0.4s ease-in-out;
}
.hiddenToast {
	bottom: -5em !important;
}
#here {
	display: block;
	margin-top: 0.2em;
	font-family: 'Ubuntu Mono', monospace;
}
h1 {
	margin: 0.1em 0 0.4em 0;
	font-size: 1em;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
}
header{
	display: block;
	width: 100%;
}
header> span, header> a {
	float: right;
	margin: 0.1em 0 0.4em 0;
	font-size: 1em;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	opacity: 0.7;
	transition: opacity 0.1s ease-in-out;
	margin-left: 1em;
}
header>span:hover, header>a:hover {
	cursor: pointer;
	opacity: 0.9;
}
.hidden {
	display: none !important;
}

@media screen and (max-width: 800px) {
	body{
		font-size: 1.2em;
	}
	#main{
		margin-top: 0.5em;
		width: 90%;
	}
	#toast{
		border-radius: 0;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}