a {
	color: black;
	text-decoration: none;
}
body{
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	font-family: 'Ubuntu Mono', sans-serif;
}
#main{
	width: 60%;
	margin: 3em auto;
}
#editor{
	width: 100%;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 1.1em;
	height: 19em;
	box-sizing: border-box;
	outline: none;
	border: 2px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	padding: 0.8em;
	transition: border 0.1s ease-in-out;
}
#editor:focus{
	border: 2px solid #2962FF;
}
.btn {
	display: block;
	color: rgba(255,255,255,0.9);
	padding: 0.75em 0.7em;
	background-color: #2962FF;
	box-sizing: border-box;
	transition: all 0.05s ease-in-out;
	margin: 0.7em 0;
	border-radius: 3px;
	cursor: pointer;
}
.btn:hover{
	background-color: #0D47A1;
}
.btn:active{
	background-color: #1565C0;
}
.shbtn{
	display: block;
	padding: 0.7em 0.7em;
	background-color: rgba(0,0,0,0.1);
	box-sizing: border-box;
	transition: all 0.05s ease-in-out;
	margin: 0.7em 0 0 0;
	border-radius: 3px;
	cursor: pointer;
}
.shbtn>input{
	display: inline-block;
	font-size: 1em;
	margin: 0;
}
.shbtn:hover {
	background-color: rgba(0,0,0,0.3);
}
.shbtn:active{
	background-color: rgba(0,0,0,0.7);
	color: white;
}
.box {
	display: block;
	padding: 0.7em 0.7em 0.9em 0.7em;
	box-sizing: border-box;
	min-height: 5em;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.87);
	color: rgba(255,255,255,0.85);
}
.box > h2{
	margin: 0;
	padding: 0;
	display: block;
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 400;
	font-size: 1em;
	opacity: 0.5;
}
#toast{
	position: fixed;
	z-index: 5;
	bottom: 1em;
	left: 1em;
	color: white;
	padding: 0.7em 1em;
	background-color: rgb(40,40,40);
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5), 0 0 6px rgba(0,0,0,0.2);
	transition: bottom 0.4s ease-in-out;
}
.hiddenToast {
	bottom: -5em !important;
}
#here {
	display: block;
	margin-top: 0.2em;
	font-family: 'Ubuntu Mono', monospace;
}
#inputobj{
	outline: none;
    border: none;
    background: rgba(0,0,0,0);
    color: rgba(255,255,255,0.8);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    caret-color: white;
}
h1 {
	margin: 0.1em 0 0.4em 0;
	font-size: 0.8em;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
header{
	font-family: 'Ubuntu Mono', sans-serif;
	display: block;
	width: 100%;
}
header> span, header> a {
	float: right;
	margin: 0.1em 0 0.4em 0;
	display: inline-block;
	opacity: 0.7;
	transition: opacity 0.1s ease-in-out;
	margin-left: 1em;
}
header>span:hover, header>a:hover {
	cursor: pointer;
	opacity: 0.9;
}
.hidden {
	display: none !important;
}
.resbox{
	display: block;
    padding: 0.7em;
    background-color: rgb(240,240,240);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    z-index: 2;
    margin-top: -2px;
}

@media screen and (max-width: 800px) {
	body{
		font-size: 1.2em;
	}
	#shareboxer {
		display: block;
		margin-top: 0.5em;
		width: 100%;
	}
	#main{
		margin-top: 0.5em;
		width: 90%;
	}
	header{
		margin: 1em 0;
	}
	#toast{
		border-radius: 0;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}